# Python
__pycache__/
*.py[cod]
*.so

# Build
build/
dist/
wheels/
*.egg-info/
*.egg

# Virtual environment
.venv/
venv/
env/

# Tests
**/tests/

# Files
*.txt
*.log
*.tmp
*.temp
*.csv

# Environment
.env

# IDE
.vscode/

# Project specific
tmp_files/

# Keep important files
!requirements.txt
!blacklist.txt